header .hd_bg {background-color: transparent;}
header .hd_bg:hover {background-color: #fff;}
/* -------------------------------------------------------------------------------------------- 메인 */
main {}
main .main_bnr {position: relative; width: 100%; transform:translateY(-80px); margin-bottom: 70px;}
/* -------------------------------------------------------------------------------------------- 메인 슬라이더 (공통) */
main .main_bnr .main_swiper {width: 100%; height: calc(100vh - 32px);}
main .main_bnr .main_swiper .swiper-wrapper {}
main .main_bnr .main_swiper .swiper-wrapper .swiper-slide {padding: 80px;}
main .main_bnr .main_swiper .swiper-wrapper .swiper-slide .bnr_txt {}
/* -------------------------------------------------------------------------------------------- 메인 슬라이더 (개별) */
main .main_bnr .main_swiper .swiper-wrapper .slide1 {
  background-image: url(../images/slide_001.jpg);
  background-size: cover; background-position: center;
}
main .main_bnr .main_swiper .swiper-wrapper .slide1 .bnr_txt {color: #fff; position: absolute; top:45%; left: 15%;}
main .main_bnr .main_swiper .swiper-wrapper .slide1 .bnr_txt h1 {font-size: 2.75rem; font-weight: 500; letter-spacing: -0.02em;}
main .main_bnr .main_swiper .swiper-wrapper .slide1 .bnr_txt h1:nth-of-type(2) {margin: 18px 0 35px;}
main .main_bnr .main_swiper .swiper-wrapper .slide1 .bnr_txt p {font-size: 1.25rem; letter-spacing: -0.02em;}
main .main_bnr .main_swiper .swiper-wrapper .slide2 {
  background-color: lightblue;
}
main .main_bnr .main_swiper .swiper-wrapper .slide3 {
  background-color: lightcoral;
}
/* -------------------------------------------------------------------------------------------- 진행바, 버튼 */
main .main_bnr .swiper_progress {
  max-width: 1920px; width: 100%; height: max-content; position: absolute; left: 50%; transform: translateX(-50%); bottom: 50px; z-index: 10;
  padding: 0 197px;
  display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;
}
main .main_bnr .swiper_progress .progress_bar {position: relative; height: 2px; width: 100%; background-color: rgba(255, 255, 255, 0.2); margin-right: 36px;}
main .main_bnr .swiper_progress .progress_bar .swiper-pagination-progressbar-fill {background-color: #fff;}
main .main_bnr .swiper_progress .progress_btn {width: 90px; display: flex; justify-content: space-between;}
main .main_bnr .swiper_progress .progress_btn > * {color: #fff;}
main .main_bnr .swiper_progress .progress_btn button {width: 20px; height: 20px;}
main .main_bnr .swiper_progress .progress_btn button img {width: 100%;}
main .main_bnr .swiper_progress .progress_btn .next {margin-left: 10px; transform: scaleX(-1);}
main .main_bnr .swiper_progress .progress_btn .prev {margin-right: 10px;}
main .main_bnr .swiper_progress .progress_btn span {letter-spacing: -0.02em; margin-top: 1.5px;}
main .main_bnr .swiper_progress .progress_btn .slide_current {margin-right: 4px;}
main .main_bnr .swiper_progress .progress_btn .slide_total {margin-left: 3px;}
/* -------------------------------------------------------------------------------------------- container 공통 */
main .container {width: 1600px; margin: 0 auto 120px;}
main .container .title {font-size: 2.19rem; font-weight: 700; letter-spacing: -0.02em; margin-bottom: 30px;}
main .container .category {width: 100%; margin-bottom: 30px; display: flex; position: relative;}
main .container .category li {margin-right: 20px;}
main .container .category li a {
  padding: 0 6px 5px 6px; display: block; font-size: 1.06rem; letter-spacing: -0.02em; color: #999;
}
main .container .category li a.active {
  font-size: 1.06rem; border-bottom: 2.5px solid #000; color: #1A1A1A;
}
main .container .category li.more {margin: 0; position: absolute; top: 0; right: 0;}
main .container .category li.more a {width: 24px; padding: 0;}
main .container .category li.more a img {width: 100%;}
/* -------------------------------------------------------------------------------------------- container 슬라이더 공통 */
main .container .item_wrap {position: relative;}
main .container .item_wrap .best_new_swiper {width: 100%;}
main .container .item_wrap .best_new_swiper .swiper-wrapper {}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide {position: relative;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide p {}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .best_num {
  padding: 3px 5px 5px; position: absolute; left: 0; top: 0;
  background-color: #1A1A1A; color: #fff; font-weight: 500; letter-spacing: -0.02em;
}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_slide_img {width: 100%; height: 400px; margin-bottom: 12px;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_slide_img a {width: 100%; display: block;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_slide_img a img {width: 100%;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_name {margin-bottom: 12px;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_name a {display: inline-block; letter-spacing: -0.02em;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_price_like {display: flex;  position: relative;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_price_like em {font-weight: 500; letter-spacing: -0.02em; margin-right: 12px;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_price_like span {color: #999; text-decoration: line-through; letter-spacing: -0.02em; margin-right: 12px;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_price_like .sale_rate {color: #AA1721;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_price_like .like {width: 16px; position: absolute; right: 0;}
main .container .item_wrap .best_new_swiper .swiper-wrapper .swiper-slide .item_price_like .like img {width: 100%;}
/* -------------------------------------------------------------------------------------------- container 슬라이더 버튼 */
main .container .item_wrap .item_slide_btn {}
main .container .item_wrap .item_slide_btn button {position: absolute; left: 0; top: 172px; z-index: 10; width: 40px;}
main .container .item_wrap .item_slide_btn button img {width: 100%;}
main .container .item_wrap .item_slide_btn .prev {}
main .container .item_wrap .item_slide_btn .next {transform: scaleX(-1); left: auto; right: 0;}
/* -------------------------------------------------------------------------------------------- BEST */
main .best_container .item_wrap .best_slide_btn {opacity: 0;}
main .best_container .item_wrap:hover .best_slide_btn {opacity: 1;}
/* -------------------------------------------------------------------------------------------- NEW */
main .new_container .item_wrap .new_slide_btn {opacity: 0;}
main .new_container .item_wrap:hover .new_slide_btn {opacity: 1;}
/* -------------------------------------------------------------------------------------------- EVENT */
main .event_container {width: 100%; max-width: 1600px; display: flex; flex-flow: row nowrap;}
main .event_container a {width: 100%;}
main .event_container a img {width: 100%;}
/* -------------------------------------------------------------------------------------------- MD's PICK */
main .md_container {}
main .md_container .title {}
main .md_container .md_contents_wrap {display: flex; justify-content: space-between;}
/* -------------------------------------------------------------------------------------------- MD (왼) 슬라이더 */
main .md_container .md_contents_wrap .md_swiper {width: 980px; height: 690px; margin-right: 10px;}
main .md_container .md_contents_wrap .md_swiper .swiper-wrapper {}
main .md_container .md_contents_wrap .md_swiper .swiper-wrapper .swiper-slide {}
main .md_container .md_contents_wrap .md_swiper .swiper-wrapper .swiper-slide .txt {margin-top: 468px; width: 100%; text-align: center;}
main .md_container .md_contents_wrap .md_swiper .swiper-wrapper .swiper-slide .txt h3 {margin-bottom: 20px; color: #fff; font-size: 2rem; font-weight: 500; letter-spacing: -0.02em; line-height: 1.4;}
main .md_container .md_contents_wrap .md_swiper .swiper-wrapper .swiper-slide .txt p {color: #fff; letter-spacing: -0.02em;}
main .md_container .md_contents_wrap .md_swiper .swiper-wrapper .md_slide1 {
  background-image: url(../images/md_slide_001.jpg);
}
main .md_container .md_contents_wrap .md_swiper .swiper-wrapper .md_slide2 {
  background-color: lightblue;
}
main .md_container .md_contents_wrap .md_swiper .swiper-wrapper .md_slide3 {
  background-color: lightcoral;
}
main .md_container .md_contents_wrap .md_swiper .swiper-pagination {bottom: 50px;}
main .md_container .md_contents_wrap .md_swiper .swiper-pagination-bullet {width: 6px; height: 6px; background-color: #fff; opacity: 1; margin: 0 6px;}
main .md_container .md_contents_wrap .md_swiper .swiper-pagination-bullet-active {background-color: #CA9155;}
main .md_container .md_contents_wrap .md_swiper .md_slide_btn {opacity: 0;}
main .md_container .md_contents_wrap .md_swiper:hover .md_slide_btn {opacity: 1;}
main .md_container .md_contents_wrap .md_swiper .md_slide_btn button {position: absolute; left: 0; top: 315px; z-index: 10; width: 40px;}
main .md_container .md_contents_wrap .md_swiper .md_slide_btn button img {width: 100%;}
main .md_container .md_contents_wrap .md_swiper .md_slide_btn .prev {}
main .md_container .md_contents_wrap .md_swiper .md_slide_btn .next {transform: scaleX(-1); left: auto; right: 0;}
/* -------------------------------------------------------------------------------------------- MD (오) 상품리스트 */
main .md_container .md_contents_wrap .md_item_list {width: 610px; display: flex; flex-flow: row wrap; justify-content: space-between;}
main .md_container .md_contents_wrap .md_item_list li {width: 300px; height: 340px;}
main .md_container .md_contents_wrap .md_item_list li:first-child {margin-bottom: 10px;}
main .md_container .md_contents_wrap .md_item_list li a {display: block; width: 100%; height: 100%; position: relative;}
main .md_container .md_contents_wrap .md_item_list li a:hover::before,
main .md_container .md_contents_wrap .md_item_list li a:hover .item_info {display: block;}
main .md_container .md_contents_wrap .md_item_list li a::before {
  display: none; content: ''; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);
}
main .md_container .md_contents_wrap .md_item_list li:nth-child(1) a {
  background-image: url(../images/md_item_001.jpg);
  background-size: cover; background-position: top;
}
main .md_container .md_contents_wrap .md_item_list li:nth-child(2) a {
  background-image: url(../images/md_item_002.jpg);
}
main .md_container .md_contents_wrap .md_item_list li:nth-child(3) a {
  background-image: url(../images/md_item_003.jpg);
}
main .md_container .md_contents_wrap .md_item_list li:nth-child(4) a {
  background-image: url(../images/md_item_004.jpg);
}
main .md_container .md_contents_wrap .md_item_list li a .item_info {display: none; width: 100%; padding: 0 30px 30px; position: absolute; left: 0; bottom: 0;}
main .md_container .md_contents_wrap .md_item_list li a .item_info .item_name {color: #fff; margin-bottom: 10px;}
main .md_container .md_contents_wrap .md_item_list li a .item_info em {color: #fff;}
main .md_container .md_contents_wrap .md_item_list li a .item_info span {color: #999; text-decoration: line-through; margin: 0 10px;}
main .md_container .md_contents_wrap .md_item_list li a .item_info .sale_rate {color: #CA9155;}
main .md_container .md_contents_wrap .md_item_list li a .item_info button.like {width: 16px; float: right;}
main .md_container .md_contents_wrap .md_item_list li a .item_info button.like img {width: 100%;}
/* -------------------------------------------------------------------------------------------- G-MOTION */
main .gmotion_container {}
main .gmotion_container .title {}
main .gmotion_container .cartegory {}
main .gmotion_container .cartegory li {}
main .gmotion_container .cartegory li a {}
main .gmotion_container .cartegory li a.active {}
main .gmotion_container .cartegory li.more {}
main .gmotion_container .cartegory li.more a {}
main .gmotion_container .cartegory li.more a img {}
/* -------------------------------------------------------------------------------------------- G 슬라이더 */
main .gmotion_container .g_swiper {width: 100%; margin-bottom: 30px;}
main .gmotion_container .g_swiper .swiper-wrapper {}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide {}
main .gmotion_container .g_swiper .swiper-wrapper .g_slide1 {}
main .gmotion_container .g_swiper .swiper-wrapper .g_slide2 {}
main .gmotion_container .g_swiper .swiper-wrapper .g_slide3 {}
main .gmotion_container .g_swiper .swiper-wrapper .g_slide4 {}
main .gmotion_container .g_swiper .swiper-wrapper .g_slide5 {}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide p.main_img {width: 360px; height: 450px; margin-bottom: 12px;}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide p.main_img img {width: 100%;}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list {}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li {
  margin-bottom: 12px; display: flex; align-items: center; justify-content: space-between;
}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li:last-child {margin: 0;}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li .g_item {display: flex; align-items: center;}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li .g_item p {}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li .g_item .item_img {width: 80px; height: 80px; margin-right: 20px;}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li .g_item .item_img img {width: 100%;}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li .g_item .item_info {}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li .g_item .item_info > * {display: block; font-size: 0.88rem; letter-spacing: -0.02em;}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li .g_item .item_info span {margin-bottom: 12px;}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li .g_item .item_info em {font-weight: 500;}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li button.like {width: 16px;}
main .gmotion_container .g_swiper .swiper-wrapper .swiper-slide .g_item_list li button.like img {width: 100%;}
/* -------------------------------------------------------------------------------------------- G 슬라이더 프로그레스바 */
main .gmotion_container .swiper_progress {max-width: 1600px; width: 100%; display: flex; justify-content: space-between; align-items: center;}
main .gmotion_container .swiper_progress .progress_bar {max-width: 1500px; height: 2px; background-color: #ddd; position: relative;}
main .gmotion_container .swiper_progress .progress_bar .swiper-pagination-progressbar-fill {background-color: #1A1A1A;}
main .gmotion_container .swiper_progress .progress_btn {}
main .gmotion_container .swiper_progress .progress_btn button {width: 20px;}
main .gmotion_container .swiper_progress .progress_btn button img {width: 100%;}
main .gmotion_container .swiper_progress .progress_btn .prev {}
main .gmotion_container .swiper_progress .progress_btn .next {transform: scaleX(-1);}
main .gmotion_container .swiper_progress .progress_btn .slide_current {}
/* -------------------------------------------------------------------------------------------- MAGAZINE */
main .magazine_container {}
main .magazine_container .title {}
main .magazine_container .swiper_btn_wrap {position: relative;}
/* -------------------------------------------------------------------------------------------- MAGAZINE 슬라이더 */
main .magazine_container .swiper_btn_wrap .mgz_swiper {width: 1200px; height: 500px; overflow: unset; margin: 0 auto;}
main .magazine_container .swiper_btn_wrap .mgz_swiper .swiper-wrapper {}
main .magazine_container .swiper_btn_wrap .mgz_swiper .swiper-wrapper .swiper-slide {
  background-size: cover; background-position: center;
}
main .magazine_container .swiper_btn_wrap .mgz_swiper .swiper-wrapper .mgz_slide1 {
  background-image: url(../images/mgz_001.jpg);
}
main .magazine_container .swiper_btn_wrap .mgz_swiper .swiper-wrapper .mgz_slide2 {
  background-image: url(../images/mgz_002.jpg);
}
main .magazine_container .swiper_btn_wrap .mgz_swiper .swiper-wrapper .mgz_slide3 {
  background-image: url(../images/mgz_003.jpg);
}
main .magazine_container .swiper_btn_wrap .mgz_swiper .swiper-wrapper .swiper-slide .txt {position: absolute; left: 50%; transform: translateX(-50%); bottom: 50px;}
main .magazine_container .swiper_btn_wrap .mgz_swiper .swiper-wrapper .swiper-slide .txt > * {color: #fff; text-align: center;}
main .magazine_container .swiper_btn_wrap .mgz_swiper .swiper-wrapper .swiper-slide .txt h3 {margin-bottom: 20px; font-size: 2rem; font-weight: 500; letter-spacing: -0.02em;}
main .magazine_container .swiper_btn_wrap .mgz_swiper .swiper-wrapper .swiper-slide .txt p {font-size: 1.06rem; letter-spacing: -0.02em;}
main .magazine_container .swiper_btn_wrap .mgz_slide_btn {width: 100%; max-width: 1600px; position: absolute; left: 50%; transform: translate(-50%); top: 50%; z-index: 10;}
main .magazine_container .swiper_btn_wrap .mgz_slide_btn button {opacity: 0;}
main .magazine_container .swiper_btn_wrap:hover .mgz_slide_btn button {opacity: 1;}
main .magazine_container .swiper_btn_wrap .mgz_slide_btn .prev {}
main .magazine_container .swiper_btn_wrap .mgz_slide_btn .next {float: right; transform: scaleX(-1);}
/* -------------------------------------------------------------------------------------------- INSTAGRAM */
main .instragram_container {width: 100%; margin-bottom: 150px;}
main .instragram_container .title {text-align: center; margin-bottom: 10px;}
main .instragram_container .insta_id {text-align: center; margin-bottom: 40px;}
main .instragram_container .insta_id a {color: #999; font-weight: 500; letter-spacing: -0.02em;}
main .instragram_container .insta_list {display: flex; flex-flow: row wrap; justify-content: space-between;}
main .instragram_container .insta_list li {width: calc((100% - 40px) / 5);}
main .instragram_container .insta_list li:first-child {margin-bottom: 10px;}
main .instragram_container .insta_list li a {display: inline-block; width: 100%;}
main .instragram_container .insta_list li a img {width: 100%;}